.navbar-brand.logo {
	background: url(../images/qm/LogoLong.png) no-repeat left;
  background-size: 240px 60px;
  width: 240px;
}
.navbar-brand {
  height: 65px;
}

.compact .header .navbar-brand {
  background-size: 220px 55px;
  background-position: left 5px;
}

.two-color-boxes-bgimg {
  background: url(../images/qm/montreal-247796_1920.jpg) no-repeat right top fixed;
}
