{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain 'academy' %}

{% block description %}{{ 'meta.description'|trans }}{% endblock %}
{% block ogdescription %}{{ 'meta.description'|trans }}{% endblock %}

{% block body %}
    <div class="academy container">
        <div class="row">
            <picture class="col-sm-12 col-md-6 col-lg-6">
                <img src="{{ asset('images/logo-quantum-academie.png') }}">
            </picture>
            <div class="col-sm-12 col-md-6 col-lg-6 academy-description">
                {{ 'academy.description'|trans|markdown }}
            </div>
        </div>
    </div>
{% endblock %}
