{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h2>Our services</h2>

    <ul>
        {% for service in services %}
            <li>
                {% media service.picture, 'big' %}

                <h4>{{ translate(service.translations, 'name') }}</h4>
                <p>{{ translate(service.translations, 'description') }}</p>
                <p>{{ translate(service.translations, 'specifications') }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
