{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container landing-page">
        <div class="row">
            <div class="hidden-xs col-sm-4">
                <picture>
                    {% media campaignTranslation.mainPicture, 'landing_page_main' with {
                        'class': 'img-responsive'
                    } %}
                </picture>
            </div>
            <div class="col-xs-12 col-sm-8">
                <h2>{{ campaignTranslation.title }}</h2>
                <h3 class="subtitle">{{ campaignTranslation.subTitle }}</h3>

                <p class="success">{{ campaignTranslation.mainSuccessMessage|nl2br }}</p>
            </div>
            <div class="visible-xs col-xs-12">
                <picture>
                    {% media campaignTranslation.mainPicture, 'landing_page_main' with {
                        'class': 'img-responsive'
                    } %}
                </picture>
            </div>
        </div>
    </div>
{% endblock %}
