{% trans_default_domain 'blog' %}

<div class="row widget newsletter">
    <a href="#" data-toggle="modal" data-target="#newsletterModal" class="btn btn-default">{{ 'widget.newsletter.subscribe'|trans }}</a>
</div>
