.aboutus h2 {
    font-size: 3em;
    text-align: center;
    font-family: Antonio-Bold, Arial, helvetica, sans-serif;
    color: #FF8A00;
    margin-bottom: 1em;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.aboutus picture img {
    width: 80%;
    margin: 2em auto;
    display: block;
}

.aboutus-description {
    font-family: "Open Sans";
    font-size: 1em;
    color: grey;
    padding-top: 3em;
}

.aboutus .team-member {
    margin-bottom: 3em;
}

.aboutus .team-member figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    display: block;
    margin: auto;
}
.aboutus .team-member figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.aboutus .team-member .informations {
    font-family: 'Open Sans', sans-serif;
}

.aboutus .team-member .informations h4,
.aboutus .team-member .informations h5 {
    font-family: 'Open Sans', sans-serif;
    color: #565656;
    font-weight: 600;
}
.aboutus .team-member .informations h4 {
    font-size: 22px;
    text-align: center;
}

.aboutus .team-member .informations h5 {
    font-size: 1.2em;
    margin-top: 1em;
    margin-left: 1em;
}

.aboutus .team-member .informations h5 i {
    color: orange;
    margin-right: 0.6em;
}

.aboutus .team-member .informations .certifications {
    list-style: none;
    color: #929292;
    margin-left: 2em;
}
.aboutus .team-member .informations .certifications .certification {
    line-height: 2em;
    font-weight: 600;
}

.aboutus .team-member .informations p {
    font-size: 15px;
    font-weight: 600;
    text-align: justify;
    color: #929292;
    font-family: open sans;
}
.aboutus .team-member .informations p.position {
    font-size: 20px;
    font-weight: 500;
    color: #929292;
    font-family: open sans;
    text-align: center;
}

.aboutus hr {
    clear: both;
}

.value {
    position: relative;
    height: 18em;
    padding: 0;
}

.value picture {
    background-color: orange;
    width: 5em;
    display: inline-block;
    height: 5em;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 5em;
    text-align: center;
}

.value picture i {
    color: white;
    font-size: 3em;
    padding: 0.3em;
    line-height: 1em;
}

.value .thumbnail {
    border: none;
    width: 100%;
}

.value .caption {
    position: absolute;
    top: 5em;
    padding: 1em 2em;

    margin: auto;
    left: 0;
    right: 0;

    text-align: center;
}

.value .caption h3 {
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.5em;
    font-weight: bold;
}
