.codecon_half {
    float: right;
    width: 400px;
    text-align: right;
    padding-top: 10px;
}

.search-form .reset {
    border: 0;
    padding: 13px;
    color: #ff8a00;
    width: 100%;
    height: 49px;
    display: block;
    cursor: pointer;
    margin: 25px 0 0;
    text-transform: capitalize;
    background: #fff;
    font: 400 18px/22px Arial,helvetica,sans-serif;
    text-align: center;
}

.location {
    width: inherit;
    float: left;
}
.location p {
    width: 100%;
    float: left;
    margin: 0px;
}
.location p img {
    float: left;
    width: 25px;
}
.location p span {
    display: table;
    padding: 0px 15px;
    font-family: Open Sans;
    font-weight: normal;
    color: #808080;
    font-size: 18px;
}

.calender-regular {
    width: inherit;
}

.cost {
    margin: 0 0 10px 0;
    padding: 0;
}

.cost .name {
    width: 100%;
    background-color: #a7a7a7;
    text-align: center;
    color: #fff;
    font-family: Open Sans;
    font-weight: normal;
    text-transform: uppercase;
}
.cost .price {
    width: 100%;
    background-color: #6b6b6b;
    text-align: center;
    color: #fff;
    font-family: Open Sans;
    font-weight: normal;
}

#contact-us .alert {
    display: none;
}

.langSwitcher {
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

.search-form button {
    border: 0;
    padding: 0;
    color: #fff;
    width: 100%;
    height: 49px;
    display: block;
    cursor: pointer;
    margin: 25px 0 0;
    text-transform: capitalize;
    background: #ff8a00;
    font: 400 18px/22px Arial, helvetica, sans-serif;
}
.search-form button:hover {
    background: #fff;
    color: #ff8a00;
}

.search-form .free {
    margin-top: 26px;
    padding: 13px 0;
}

.jcf-checkbox {
    vertical-align: top;
    display: inline-block;
    position: relative;
    cursor: default;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #ff8a00;
    margin: 0 12px 0 0;
    height: 20px;
    width: 20px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.jcf-checkbox span {
    position: absolute;
    height: 6px;
    width: 10px;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -6px;
    border: 1px solid #ff8a00;
    border-width: 0 0 2px 2px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: none;
}

.jcf-checkbox span {
    margin: -4px 0 0 -5px;
}
.jcf-checkbox.jcf-checked span {
    display: block;
}

.home-hero {
    overflow: hidden;
    position: relative;
    padding: 7em 0 2em;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
    text-transform: uppercase;

    text-shadow:
            -1px -1px 1px #000,
            1px -1px 1px #000,
            -1px 1px 1px #000,
            1px 1px 1px #000;

    letter-spacing: 0.3em;
    font: 700 32px/38px 'Antonio-Bold', Arial, helvetica, sans-serif;
}

.home-hero h2 {
    font: 700 2em/1.2em 'Antonio-Bold', Arial, helvetica, sans-serif;
}

.home-hero h3 {
    font: 700 1em/1em 'Antonio-Bold', Arial, helvetica, sans-serif;
}

.home-hero h2 span,
.home-hero h3 span {
    color: #ff8a00;
}

.how_can_help_text_area p {
    text-align: right;
}

.how_can_help_box1:hover .how_can_help_text_area p {
    text-align: center;
}

.blogs .blog-detail-share ul li {
    font-weight: 400;
    text-decoration: none;
    color: #cecece;
    float: left;
    font-size: 18px;
    padding: 2px 10px;
}

.post .img-responsive {
    max-height: 370px;
}

.post h3 a {
    color: #ff8a00;
    cursor: pointer;
}

.blogpost .blogs ul li:nth-child(4) {
    border: none;
    text-align: right;
}

.blogpost .blogs {
    border: none;
}

.comments-sec a {
    color: #ff8a00;
}

.testimonial_contanear {
    background-image: none;
    background-color: #ff8a00;
}

.how_do_we {
    background: url(../images/wallpaper-1531107_1920-grey.jpg) top center no-repeat;
    min-height: 940px;
}

.formaion_boxes_area,
.coaching_boxes_area {
    margin-top: 40px;
}

.formaion_box2_text_area p {
    margin-top: 35px;
}

.how_can_help_text h1,
.how_can_help_text h2,
.how_do_we_main_title h1,
.coaching_main_title h1,
.formaion_main_title h1,
.whats_happening_panel h2,
.testimonial_main_title h2 {
    font-family: Antonio-Bold,Arial,helvetica,sans-serif;
}

.how_can_help_text h2 {
    font-size: 2em;
}

.how_do_we_main_title h1,
.testimonial_main_title h2 {
    text-transform: uppercase;
}

.events-holder {
    margin: 0;
}

.event {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.event .thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
}

.event .thumbnail img {
    width: 100%;
}

.event .thumbnail .caption {
    padding: 0;
}

.event .thumbnail .caption h3 {
    display: block;
    color: #fff;
    margin: 0;
    text-align: center;
    background: #ff8a00;
    padding: 9px 10px;
    font: 400 24px/28px Arial,helvetica,sans-serif;
}

.event .thumbnail .caption h3 a {
    color: #fff;
}

.event .thumbnail .caption .info-box a {
    color: #fff;
}

@media (min-width: 768px) and (max-width: 991px) {
    .events-holder .event:nth-child(3n+3)::before {
        content: '';
        display: table;
        clear: both;
    }
    .event.col-sm-6 {
        width: 49.5%;
    }
}
@media (min-width: 992px) {
    .events-holder .event:nth-child(3n+3):after {
        content: '';
        display: table;
        clear: both;
    }
    .event.col-md-4 {
        width: 33%;
    }
}

.events_small_panel {
    vertical-align: top;
}

.see_all_but1:hover,
.see_all_but2:hover {
    color: #ff8a00;
}

.see_all_but {
    display: block;
    float: right;
    background: #ff8a00;
    text-align: center;
    font-size: 1.2em;
    color: #FFF;
    padding: 0.5em;
}

.see_all_but:hover {
    background: #000;
    color: #ff8a00;
}

.academy-description,
.over-cont {
    font-family: "Open Sans";
    font-size: 13px;
    color: grey;
}

.academy-description {
    margin: 40px;
}

.academy-title {
    font-family: Antonio-Bold,Arial,helvetica,sans-serif;
    text-align: center;
    font-size: 50px;
    color: #fc8700;
    text-transform: uppercase;
}

.amazings-text h3 {
    text-align: right;
    font-size: 18px;
}

.blog-details-content,
.blog-details-content p {
    font-family: "Open Sans";
    font-size: 1.1em;
    color: grey;
}

.blog-details-content img,
.blog-details-content iframe {
    margin: 2em auto;
    display: block;
}

.nav_main_area ul li a {
    padding: 42px 10px;
}

.how_can_help_text_area p {
    font-size: 2em;
}

@media (min-width: 900px) and (max-width: 1200px) {
    .how_can_help_text_area p {
        font-size: 1.5em;
    }
}

@media (min-width: 737px) and (max-width: 900px) {
    .how_can_help_text_area p {
        font-size: 1em;
    }
}

@media (min-width: 100px) and (max-width: 736px) {
    .how_can_help_text_area p {
        font-size: 2em;
    }
}

.footer_top img {
    padding: 0;
    border: none;
    vertical-align: inherit;
    display: block;
    margin: 15px 0;
}

.footer .hello {
    text-transform: uppercase;
    font-size: 2.7em;
    font-family: Antonio-Bold,Arial,helvetica,sans-serif;
    margin: 0;
}

.footer .hello span {
    color: #ff8a00;
}

header {
    min-height: 16em;
    position: relative;
    padding-top: 4em;
    font-family: 'Antonio-Bold';
    font-size: 18px;
}

header.visual-area {
    height: 0;
}

.navbar {
    background: rgba(0,0,0,.75);
    border: none;
    height: 6em;
    border-radius: 0;
    z-index: 2;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li.current > a,
.navbar-default .navbar-nav > li:hover > a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    height: 7em;
    margin: -0.5em 0;
    padding: 3em 0.5em;
}

.navbar-default .navbar-nav > li.current > a,
.navbar-default .navbar-nav > li:hover > a {
    background-color: #FF8A00;
}

.navbar .container .navbar-brand {
    position: relative;
    width: 15em;
    height: 8.2em;
    margin: -1.1em 0;
    padding: 0;
    z-index: 10;
}

.navbar .container .navbar-brand .shape img {
    height: 7.5em;
    display: inline-block;
    margin: auto;
}

.navbar-default .navbar-collapse,
.navbar-toggle
{
    z-index: 2;
}

.left-shape,
.right-shape,
.shape {
    position: absolute;
    top: 0;
    width: 1.5em;
    height: 100%;
}

.shape {
    width: 12em;
    background-color: #FF8A00;
    padding: 0.3em 1em;
    left: 1.5em;
}

.left-shape {
    left: 0;
    border-right: 1.5em solid #ce6f00;
    border-top: 1.2em solid transparent;
    border-bottom: 1.2em solid transparent;
}

.right-shape {
    right: 0;
    border-left: 1.5em solid #ce6f00;
    border-top: 1.2em solid transparent;
    border-bottom: 1.2em solid transparent;
}

@media (max-width: 1200px) {
    .top_contanear {
        height: 30px;
    }
    .top_heade_right_area {
        height: 30px;
    }
    .top_heade_right_area p {
        line-height: 30px;
    }
    header {
        min-height: 11em;
    }
    .navbar {
        height: 3em;
    }
    .navbar-header {
        float: none;
    }
    .navbar .container .navbar-brand {
        width: 12em;
        height: 5.2em;
    }
    .shape {
        width: 9em;
        background-color: #FF8A00;
        padding: 0.1em 1.2em;
        left: 1.5em;
    }
    .left-shape {
        border-right: 1em solid #ce6f00;
    }
    .right-shape {
        border-left: 1em solid #ce6f00;
    }
    .navbar .container .navbar-brand .shape img {
        height: 5em;
    }
    .navbar-left,.navbar-right {
        float: none !important;
        background-color: white;
    }
    .navbar-toggle {
        display: block;
        margin-top: 0.6em;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        background-color: transparent;
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 0;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
        z-index: 1000;
    }

    .navbar-default .navbar-nav > li {
        background-color: white;
        border: 1px solid grey;
        border-collapse: collapse;
        z-index: 1000;
    }

    .navbar-default .navbar-nav > li > a {
        color:grey;
        text-align: center;
        margin: 0;
        padding: 1em;
        height: inherit;
        z-index: 1000;
    }

    .navbar-default .navbar-nav > li.current > a,
    .navbar-default .navbar-nav > li:hover > a {
        color:white;
        margin: 0;
        padding: 1em;
        height: inherit;
        z-index: 1000;
    }

    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin-left: 0;
        margin-right: 0;
    }

    .home-hero {
        overflow: inherit;
        font: 700 1em/1em 'Antonio-Bold', Arial, helvetica, sans-serif;
    }
}
