@media screen and (max-width: 767px) {
    .breadcrumb {
        padding: 1em 1.4em;
        font-size: .8em;
    }
}

.codecon_half {
    float: right;
    text-align: right;
    padding-top: 10px;
}

.search-form .reset {
    border: 0;
    padding: 13px;
    color: #ff8a00;
    width: 100%;
    height: 49px;
    display: block;
    cursor: pointer;
    margin: 25px 0 0;
    text-transform: capitalize;
    background: #fff;
    font: 400 18px/22px Arial,helvetica,sans-serif;
    text-align: center;
}

.location {
    width: inherit;
    float: left;
}
.location p {
    width: 100%;
    float: left;
    margin: 0px;
}
.location p img {
    float: left;
    width: 25px;
}
.location p span {
    display: table;
    padding: 0px 15px;
    font-family: Open Sans;
    font-weight: normal;
    color: #808080;
    font-size: 18px;
}

.calender-regular {
    width: inherit;
}

.cost {
    margin: 0 0 10px 0;
    padding: 0;
}

.cost .name {
    width: 100%;
    background-color: #a7a7a7;
    text-align: center;
    color: #fff;
    font-family: Open Sans;
    font-weight: normal;
    text-transform: uppercase;
}
.cost .price {
    width: 100%;
    background-color: #6b6b6b;
    text-align: center;
    color: #fff;
    font-family: Open Sans;
    font-weight: normal;
}

#contact-us .alert {
    display: none;
}

.langSwitcher {
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

.search-form button {
    border: 0;
    padding: 0;
    color: #fff;
    width: 100%;
    height: 49px;
    display: block;
    cursor: pointer;
    margin: 25px 0 0;
    text-transform: capitalize;
    background: #ff8a00;
    font: 400 18px/22px Arial, helvetica, sans-serif;
}
.search-form button:hover {
    background: #fff;
    color: #ff8a00;
}

.search-form .free {
    margin-top: 26px;
    padding: 13px 0;
}

.jcf-checkbox {
    vertical-align: top;
    display: inline-block;
    position: relative;
    cursor: default;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #ff8a00;
    margin: 0 12px 0 0;
    height: 20px;
    width: 20px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.jcf-checkbox span {
    position: absolute;
    height: 6px;
    width: 10px;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -6px;
    border: 1px solid #ff8a00;
    border-width: 0 0 2px 2px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: none;
}

.jcf-checkbox span {
    margin: -4px 0 0 -5px;
}
.jcf-checkbox.jcf-checked span {
    display: block;
}

.how_can_help_text_area p {
    text-align: right;
}

.how_can_help_box1:hover .how_can_help_text_area p {
    text-align: center;
}

.blogs .blog-detail-share ul li {
    font-weight: 400;
    text-decoration: none;
    color: #cecece;
    float: left;
    font-size: 18px;
    padding: 2px 10px;
}

.post .img-responsive {
    max-height: 370px;
}

.post h3 a {
    color: #ff8a00;
    cursor: pointer;
}

.blogpost .blogs ul li:nth-child(4) {
    border: none;
    text-align: right;
}

.blogpost .blogs {
    border: none;
}

.comments-sec a {
    color: #ff8a00;
}

.testimonial_contanear {
    background-image: none;
    background-color: #ff8a00;
}

.how_do_we {
    background: url(../images/wallpaper-1531107_1920-grey.jpg) top center no-repeat;
    min-height: 940px;
}

.formaion_boxes_area,
.coaching_boxes_area {
    margin-top: 40px;
}

.formaion_box2_text_area p {
    margin-top: 35px;
}

.how_can_help_text h1,
.how_can_help_text h2,
.how_do_we_main_title h1,
.coaching_main_title h1,
.formaion_main_title h1,
.whats_happening_panel h2,
.testimonial_main_title h2 {
    font-family: Antonio-Bold,Arial,helvetica,sans-serif;
}

.how_can_help_text h2 {
    font-size: 2em;
}

.how_do_we_main_title h1,
.testimonial_main_title h2 {
    text-transform: uppercase;
}

.events-holder {
    margin: 0;
}

.event {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.event .thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
}

.event .thumbnail img {
    width: 100%;
}

.event .thumbnail .caption {
    padding: 0;
}

.event .thumbnail .caption h3 {
    display: block;
    color: #fff;
    margin: 0;
    text-align: center;
    background: #ff8a00;
    padding: 9px 10px;
    font: 400 24px/28px Arial,helvetica,sans-serif;
}

.event .thumbnail .caption h3 a {
    color: #fff;
}

.event .thumbnail .caption .info-box a {
    color: #fff;
}

@media (min-width: 768px) and (max-width: 991px) {
    .events-holder .event:nth-child(3n+3)::before {
        content: '';
        display: table;
        clear: both;
    }
    .event.col-sm-6 {
        width: 49.5%;
    }
}
@media (min-width: 992px) {
    .events-holder .event:nth-child(3n+3):after {
        content: '';
        display: table;
        clear: both;
    }
    .event.col-md-4 {
        width: 33%;
    }
}

.events_small_panel {
    vertical-align: top;
}

.see_all_but1:hover,
.see_all_but2:hover {
    color: #ff8a00;
}

.see_all_but {
    display: block;
    float: right;
    background: #ff8a00;
    text-align: center;
    font-size: 1.2em;
    color: #FFF;
    padding: 0.5em;
}

.see_all_but:hover {
    background: #000;
    color: #ff8a00;
}

.amazings-text h3 {
    text-align: right;
    font-size: 18px;
}

.blog-details-content,
.blog-details-content p {
    font-family: "Open Sans";
    font-size: 1.1em;
    color: grey;
}

.blog-details-content img,
.blog-details-content iframe {
    margin: 2em auto;
    display: block;
}

.nav_main_area ul li a {
    padding: 42px 10px;
}

.how_can_help_text_area p {
    font-size: 2em;
}

@media (min-width: 900px) and (max-width: 1200px) {
    .how_can_help_text_area p {
        font-size: 1.5em;
    }
}

@media (min-width: 737px) and (max-width: 900px) {
    .how_can_help_text_area p {
        font-size: 1em;
    }
}

@media (min-width: 100px) and (max-width: 736px) {
    .how_can_help_text_area p {
        font-size: 2em;
    }
}

.footer_top img {
    padding: 0;
    border: none;
    vertical-align: inherit;
    display: block;
    margin: 15px 0;
}

.footer .hello {
    text-transform: uppercase;
    font-size: 2.7em;
    font-family: Antonio-Bold,Arial,helvetica,sans-serif;
    margin: 0;
}

.footer .hello span,
.footer .footer_mainpanel_left a {
    color: #ff8a00;
}

.newsletter {
    color: grey;
    padding: 1em;
}

.newsletter h2,
.newsletter h4 {
    text-transform: uppercase;
    font-family: 'Open Sans',Arial;
    font-weight: 700;
}
.newsletter h2 {
    font-size: 1.8em;
    padding: 1em 0;
    margin: 0;
}

.newsletter form {
    margin-top: 2em;
}

.newsletter .submit-group {
    text-align: right;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    padding: 1em 2em;
    margin: 1em 0;
}

.btn-default,
.btn-default:hover,
.btn-default.active,
.btn-default.active:hover,
.btn-default:active {
    color: #fff;
    background-color: #FF8A00;
    border-color: #FF8A00;
    box-shadow: none;
}

.hero-home {
    background-size: cover;
    height: 50em;
    position: relative;
}

.navbar {
    background-color: transparent;
    border: none;
}

.navbar-header {
    height: 9em;
    position: relative;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    border-color: white;
    background-color: transparent;
    position: absolute;
    right: 0.5em;
    top: 3em;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #ff8a00;
}

.hero-content {
    text-align: center;
    color: #fff;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.hero-content h2 {
    font: 700 4em/1.2em 'Antonio-Bold', Arial, helvetica, sans-serif;
    letter-spacing: 0.3em;
    margin-right: -0.3em;
    text-transform: uppercase;
}

.hero-content h2 span {
    color: #ff8a00;
}

.hero-content .read-more {
    font-size: 2em;
    opacity: 0.5;
}

@media (min-width: 500px) {
    .hero-content h2 {
        margin-right: 0;
    }
}

.hero-content .video-cta {
    background-color: #ff8a00;
    display: inline-block;
    color: #fff;
    padding: 0.2em 1em;
    font-size: 1.5em;
}

.hero-content .video-cta i {
    line-height: 2em;
    text-indent: 0.2em;
    margin-right: 0.5em;
}

@media (min-width: 100px) and (max-width: 768px) {
    .hero-home {
        height: 30em;
    }

    .hero-content {
        bottom: 2%;
    }

    .hero-content h2 {
        font-size: 2em;
    }

    .hero-content .video-cta {
        font-size: 1em;
    }

    .navbar-header {
        background-color: #333;
    }

    .navbar-header.collapsed {
        background-color: transparent;
    }

    .navbar-default .navbar-collapse {
        border-color: transparent;
        background-color: #333;
    }
}

@media (min-width: 100px) and (max-width: 1000px) {
    .nav>li>a {
        padding: 10px 12px;
    }
}

.container .row h2 {
    font-family: Antonio-Bold,Arial,helvetica,sans-serif;
    color: #FF8A00;
    text-transform: uppercase;
    margin-bottom: 1em;
    text-align: center;
    font-size: 3em;
}

.partners {
    margin: 0 auto 6em;
    clear: both;
}

.clients {
    text-align: center;
}

.client {
    height: 6em;
    padding: 1.5em;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.client:hover {
    -webkit-filter: none;
    filter: none;
}

.client img {
    max-width: 100%;
    max-height: 100%;
}

/**********************
 ****** APPROACH ******
 **********************/
.approach {
    padding-top: 3em;
}

.approach .steps {
    position: relative;
}

.approach .step {
    margin-bottom: 1em;
}

.approach .step .left,
.approach .step .right {
    height: 15em;
    position: relative;
    display: table;
}

.approach .step .left {
    text-align: right;
    padding-right: 4em;
}
.approach .step .right {
    text-align: left;
    padding-left: 4em;
}

.approach .step .left .description,
.approach .step .right .description {
    vertical-align: middle;
    display: table-cell;
}

@media (max-width: 991px) and (min-width: 768px) {
    .approach .step .left .description.visible-sm,
    .approach .step .right .description.visible-sm {
        display: table-cell !important;
    }
}

@media (max-width: 767px) {
    .approach .step .left .description.visible-xs,
    .approach .step .right .description.visible-xs {
        display: table-cell !important;
    }
}

.approach .step .left picture,
.approach .step .right picture {
    background-color: #eee;
    color: white;
    border-radius: 11em;
    width: 11em;
    height: 11em;
    margin: 2em auto;
    display: table;
}

.approach .step .left picture i,
.approach .step .right picture i {
    font-size: 7em;
    line-height: 1em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.approach .steps .slider {
    position: absolute;
    width: 2em;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.approach .steps .slider .pointer {
    border: 1px solid orange;
    background-color: orange;
    border-radius: 2em;
    width: 100%;
    height: 2em;
    position: absolute;
    transform: translateY(-50%);
    -webkit-transition: top 2s ease-in-out;
    transition: top 1s ease-in-out;
    z-index: 10;
}

.approach .steps .slider .path {
    background-color: #ccc;
    width: 0.1em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.approach .steps .slider .checkpoint {
    background-color: #ccc;
    border-radius: 1em;
    width: 1em;
    height: 1em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 992px) {
    .approach .steps .slider {
        width: 2em;
        height: 100%;
        left: 1em;
        top: 0;
    }
}
