{% trans_default_domain 'widget' %}

<div class="panel panel-default col-md-12" id="contact-us">
    <div class="panel-heading">{{ 'contact.title'|trans }}</div>
    <div class="panel-body">
        {{ form(form) }}
    </div>
</div>
