{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-ld-12">
                <ol class="breadcrumb">
                    <li><a href="index.thml">Home</a></li>
                    <li>Trainings</li>
                </ol>
            </div>
        </div>

        {% for training in trainings %}
            <div class="row">
                {% if loop.index % 2 == 1 %}
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="left-slider">
                            <div class="item">
                                {% media training.picture, 'service_big' %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="over-cont">
                        <div class="mission-heading">
                            <h3>{{ translate(training.translations, 'name') }}</h3>
                        </div>
                        <p>{{ translate(training.translations, 'description')|nl2br }}</p>
                    </div>
                </div>
                {% if loop.index % 2 == 0 %}
                    <div class="col-md-6">
                        <div class="working_method">
                            {% media training.picture, 'service_big' %}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
