<div class="panel panel-default col-md-6">
    <div class="panel-heading">Trainings</div>
    <div class="panel-body">
        <ul>
            <li>Conference (1h)</li>
            <li>Workshop (2h)</li>
            <li>Power training (4h)</li>
            <li>Seminar (1 or 2d)</li>
            <li>Thematic training programs</li>
        </ul>

        <a href="{{ path('training_list') }}">See all</a>
    </div>
</div>
